@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	background-color: #fff;
}

html {
	height: 100%;
}

.main-inner {
	width: 1200px;
	margin: 0 auto;
}

.main-container {
	flex-grow: 1;
}
/*-------------начало index.html------------*/
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.navigation {
	display: flex;
	width: 1060px;
	margin: 0 auto;
}

.navigation-logo {
	width: 139px;
	margin-right: 30px;
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 400px;
	list-style-type: none;
}

.navigation-item {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

.navigation-user .navigation-link {
	min-width: 16px;
	min-height: 22px;
}

.navigation-user {
	display: flex;
	max-width: 400px;
	margin-left: auto;
	justify-content: flex-end;
}

.navigation-link {
	font-family: "PT Sans", sans-serif;
	line-height: 26px;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	padding: 20px 19px;
	display: block;
	justify-content: center;
}

.navigation-link-button {
	margin-top: 14px;
	background-color: #756257;
	border-radius: 4px;
	width: 160px;
	height: 25px;
	padding: 9px 15px 8px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.page-container-gallery {
	width: 1200px;
	height: 485px;
	margin: 0 auto;
	background-image: url("../images/svg/welcome.svg"), url("../images/svg/divider.svg"),
		url("../images/jpg/gallery.jpg");
	background-repeat: no-repeat;
	background-position: center, 0 100%;
}

.title-glass {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	min-height: 280px;
	justify-content: center;
}

.logo-item {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 63px 240px 0;
	padding: 0;
	width: 720px;
}

.logo-comparison {
	color: #333333;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	margin: 31px 240px 80px;
	padding: 0;
	width: 720px;
}

.title-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
}

.advantages-title {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #ffffff;
	margin: 0;
	padding: 0;
	margin-top: 97px;
}

.advantages-item-under {
	margin-top: 30px;
	max-width: 220px;
}

.services-block {
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	justify-content: center;
}

.title-container {
	width: 400px;
	background-color: #83b3d3;
}

.recommendation-list {
	width: 400px;
	height: 384px;
}

.rec-logo {
	display: block;
	margin: 0 auto;
	margin-top: 89px;
}

.description-services {
	color: #000000;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin-top: 23px;
}

.number {
	line-height: 21px;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	margin: 0;
	margin-top: 30px;
}

.number-info {
	color: #333333;
}

.background-recomendation {
	background: rgba(131, 179, 211, 0.12);
}

.advantages-item-under {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #ffffff;
}

.recommendation-text {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	margin: 20px 75px 79px;
}

.journey {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 400px;
	height: 384px;
	background: rgba(131, 179, 211, 0.12);
}

.journey-background {
	background: rgba(131, 179, 211, 0.2);
}

.description {
	margin-top: 98px;
}

.advantages-description {
	margin: 30px 75px 108px;
}

.search-for-hotels {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	height: 417px;
	padding-top: 91px;
}

.search-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
}

.logo-item-page {
	margin: 0 auto;
}

.search-data {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	margin: 29px 240px 0;
}

.search-hotel {
	text-decoration: none;
	background-color: #756257;
	border-radius: 10px;
	width: 575px;
	height: 60px;
	margin-top: 56px;
}

.search-hotel-button {
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	line-height: 36px;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 15px;
}

.email {
	background-image: url("../images/jpg/background.jpg");
	background-repeat: no-repeat;
	height: 411px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 auto;
	background-position: center;
}

.email-page {
	padding: 0;
	margin-top: 94px;
}

.email-title {
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.email-info {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	margin-top: 29px;
}

.email-page-submit {
	display: flex;
	justify-content: center;
}

.email-page-button-submit {
	display: block;
	padding: 0;
	margin: 0;
	margin-top: 46px;
	width: 600px;
	height: 60px;
	background-color: #f2f2f2;
	border-radius: 10px 0px 0px 10px;
	border-color: none;
}

.email-page-button {
	display: block;
	padding: 0;
	margin: 0;
	margin-top: 46px;
	width: 200px;
	height: 60px;
	background-color: #83b3d3;
	border-radius: 0px 10px 10px 0px;
	border-color: none;
}

.subscribe {
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
}

.page-footer-container {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	height: 120px;
}

.page-network {
	display: flex;
	flex-wrap: wrap;
	width: 198px;
	margin-right: 130px;
	border: #000000 solid 1px;
}

.page-network-link {
	border: #df1212 solid 1px;
	list-style-type: none;
	width: 56px;
	height: 44px;
	margin-right: 8px;
}

.page-network-link:nth-child(3n) {
	margin-right: 0;
}

.footer-contacts-address-phone {
	color: #000000;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 40px;
}

.footer-network-htmlacademy {
	max-width: 130px;
	margin-left: auto;
}
/*-------------конец index.html------------*/

/*--------начало catalog.html----------*/

.inner-header {
	color: #ffffff;
	width: 1200px;
	height: 408px;
	background-image: url("../images/jpg/catalog-background.jpg");
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.inner-catalog-title {
	font-size: 60px;
	line-height: 78px;
	text-align: left;
	width: 528px;
	height: 68px;
	padding: 0;
	margin: 0;
	margin-top: 35px;
	margin-left: 71px;
	max-width: 100%;
}

.breadcrumbs {
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-top: 8px;
	margin-left: 61px;
}

.breadcrumbs-item {
	margin-left: 10px;
}

.breadcrumbs-link {
	text-decoration: none;
	line-height: 21px;
	text-align: left;
}

.inner-form {
	display: flex;
	width: 100%;
}

.infrastructure-page {
	margin-top: 50px;
	margin-left: 71px;
}

.inner-config-form {
	font-size: 20px;
	line-height: 26px;
	text-align: left;
	padding: 0;
	margin: 0;
}

.infrastructure-box {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	margin-top: 30px;
}

.inner-checkbox-box {
	padding: 0;
	margin: 0;
	justify-content: start;
	margin-bottom: 16px;
}

.inner-checkbox {
	font-size: 18px;
	line-height: 23px;
	text-align: left;
}

.half-width {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}

.inner-buttons {
	display: flex;
	flex-direction: column;
	justify-content: end;
	margin-right: 72px;
	width: 160px;
}

.inner-buttons-yes {
	background-color: #83b3d3;
	border-radius: 4px;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 21px;
	text-align: center;
	padding: 20px 30px;
}

.inner-buttons-reset {
	background-color: rgba(255, 255, 255, 0);
	border-radius: 4px;
	color: #ffffff;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	padding: 20px 30px;
}

.select-control {
	display: flex;
	justify-content: space-between;
	width: 1057px;
	margin-left: 71px;
}

.ategory-prices {
	box-sizing: border-box;
	width: 287px;
	height: 48px;
	margin-top: 25px;
}

.search-result-title {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 39px;
	text-align: left;
}

.list-view {
	list-style-type: none;
	display: flex;
}

.view {
	border: #df1212 solid 2px;
	width: 22px;
	height: 18px;
}
/*-----------начало карт----------------------*/

.product-list {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(3, 340px);
	margin: 0;
	padding: 0;
	gap: 18px;
	justify-content: center;
}

.product-card {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-bottom: 0;
}

.product-card-link {
	text-decoration: none;
	color: #000000;
}

.product-card-title {
	font-size: 24px;
	line-height: 31px;
	text-align: left;
}

.product-card-hotel-span {
	display: flex;
}

.product-card-hotel {
	margin-right: auto;
}

.product-card-price {
	margin: 0 auto;
}

.product-card-price-hotel {
	line-height: 23px;
	font-size: 18px;
	text-align: left;
}

.product-card-button-box {
	display: flex;
	width: 300px;
	justify-content: space-between;
}

.product-card-button {
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	margin-top: 16px;
}

.card-button {
	background-color: #756257;
	border-radius: 4px;
	padding: 5px 20px;
}

.card-button1 {
	background-color: #83b3d3;
	border-radius: 4px;
	padding: 5px 20px;
}

.card-button-green {
	background-color: #7db54f;
}

.product-card-rating {
	background-color: #f2f2f2;
	border-radius: 4px;
	padding: 5px 30px;
	text-transform: uppercase;
	line-height: 21px;
	text-align: center;
}

.product-card-rating-box {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.imeg-star2 {
	background-image: url("../images/svg/star.svg");
	background-repeat: repeat-x;
	width: 35px;
}

.imeg-star3 {
	background-image: url("../images/svg/star.svg");
	background-repeat: repeat-x;
	width: 54px;
}

.imeg-star4 {
	background-image: url("../images/svg/star.svg");
	background-repeat: repeat-x;
	width: 71px;
}

/*------------конец карт---------------------------*/

.indicator-fon {
	padding: 0;
	margin: 34px 72px 0;
}

.product-card-more {
	background-color: #83b3d3;
	border: #00000000;
	border-radius: 4px;
	width: 620px;
	height: 60px;
	background-position: center;
	margin: 30px 290px;
	color: #ffffff;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
}

.indicator-fon2 {
	padding: 0;
	margin: 0 72px;
}

.pagination-page {
	display: flex;
	width: 1056px;
	padding: 0;
	margin: 30px 72px 0;
	height: 55px;
}

.pagination {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	margin-right: auto;
}

.pagination-item {
	border-radius: 4px;
}

.pagination-item:not(:last-child) {
	margin-right: 8px;
}

.pagination-item:not(:first-child) {
	background-color: #83b3d3;
}

.pagination-current {
	background-color: #f2f2f2;
}

.pagination-link {
	display: block;
	box-sizing: border-box;
	width: 55px;
	height: 55px;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	padding: 11px;
}

.pagination-glass {
	display: flex;
}

.pagination-number-page {
	font-size: 18px;
	line-height: 23px;
	text-align: left;
	margin: 12px 0;
}

.pagination-number {
	width: 160px;
	margin-left: 51px;
	border: #e6e6e6 solid 1px;
}

.section-footer {
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 241px;
	margin: 73px 200px 140px;
}

.section-footer-title {
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
}

.section-footer-text {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.section-footer-subscribe {
	color: #02f860;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
}
